/*COLORS*/
:root 
{
    --main-bg: #fff0f3;
    --accent: #ff4d6d;
    --soft-pink: #ffe8ec;
    --secondary-accent: #ffb9c6;
    --transparent: rgba(255, 240, 243, 0.7);
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

/*HEADER*/
.banner
{
    background-color: -accent;
    width: 100%;
    height: 100vh;
}

.navBar
{
    z-index: 1; /*stay on-top of every element*/
    background-color: var(--transparent);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: end;
}

.navBar ul
{
    list-style-type: none;
    overflow: hidden;
    margin-right: 10%;
}

.navBar li
{
    float: left;
}

.button
{
    position: relative;
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.button::after
{
    content:"";
    position: absolute;
    bottom: 3px;
    height: 4px;
    width: 100%;
    left:0;
    background-color: black;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.button:hover::after
{
    transform: scaleX(1);
}

.button:hover
{
    background-color: var(--secondary-accent);
}

.button.active
{
    background-color: var(--secondary-accent);
}

#bannerTrailer
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*PROJECTS*/
.cardContainer
{
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card
{
    background-color: var(--soft-pink);
    width: 400px;
    height: 600px;
    margin: 20px;
    overflow: hidden;
    position: relative;
}

.card-image
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70%;
}

.card-image img
{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/**/
footer
{
    background-color: rgb(226, 22, 90);
}

/*ANCHORS*/
#home, #about, #projects
{
    scroll-margin-top: 51px; /*leave space so the navbar doesn't get in front of the content you jumped to*/
}