/*COLORS*/
:root 
{
    --main-bg: #FFF8FA;
    --accent: #F65D8C;
    --soft-pink: #FFE9EF;
    --secondary-accent: #D98CA3;
    --transparent: rgba(255, 240, 243, 0.7);

    --text: #340e19;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

body
{
    background-color: var(--main-bg);
}

p, h3, a
{
    color: var(--text);
}

/*HEADER*/
.banner
{
    background-color: -accent;
    width: 100%;
    height: 100vh;
}

.navBar
{
    z-index: 1; /*stay on-top of every element*/
    background-color: var(--transparent);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: end;
}

.navBar ul
{
    list-style-type: none;
    overflow: hidden;
    margin-right: 10%;
}

.navBar li
{
    float: left;
}

.button
{
    position: relative;
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.button::after
{
    content:"";
    position: absolute;
    bottom: 3px;
    height: 4px;
    width: 100%;
    left:0;
    background-color: black;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.button:hover::after
{
    transform: scaleX(1);
}

.button:hover
{
    background-color: var(--secondary-accent);
}

.button.active
{
    background-color: var(--secondary-accent);
}

#bannerTrailer
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*PROJECTS*/
.cardContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
}

.card
{
    background-color: var(--soft-pink);
    width: 400px;
    height: 600px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 15px 12px;

    transition: 0.3s ease;
    cursor: pointer;
}

.card:hover
{
    transform: scale(1.05);
}

.card-image
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70%;
}

.card-image img
{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.card-title
{
    text-align: center;
}

.card-description
{
    text-align: center;
}

/* TAGS */
.tag-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*allow multi-lining*/
    gap: 3%;
    margin-top: 1%;
}

.tag
{
    background-color: var(--accent);
    border-radius: 8em;
    padding: 2px 8px 2px 8px;
}

/**/
footer
{
    background-color: var(--accent);
}

/*ANCHORS*/
#home, #about, #projects
{
    scroll-margin-top: 51px; /*leave space so the navbar doesn't get in front of the content you jumped to*/
}